<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h1>Conquer Planet</h1>
      <%= simple_form_for [@alien, @planet] do |f| %>
        <%= f.input :name %>
        <%= f.input :category, collection: ['gas', 'solid'], include_blank: false %>
        <%= f.input :image_url %>
        <%= f.submit 'Conquer', class: 'btn btn-danger mt-2' %>
      <% end %>
    </div>
  </div>
</div>
