<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @alien.banner_url %>%);">
  <div class="container">
    <h1><%= @alien.name %></h1>
    <%= link_to 'Conquer Planet', new_alien_planet_path(@alien), class: "btn btn-danger mt-2" %>
  </div>
</div>
<div class="container mt-4">
  <div class="cards">
    <% @alien.planets.each do |planet| %>
      <% if planet.photo.attached? %>
        <%= cl_image_tag planet.photo.key, width: 400 %>
      <% else %>
        <%= image_tag planet.image_url, width: 400 %>
      <% end %>
    <% end %>
  </div>
</div>
